extends layout

block content
  .panel
    h1.panelHeader=title
    hr
    .lesson
      p Programming languages are the same as any spoken language. We have words, we have rules for how to order the words, and we have meanings for the words. Take a look at this sentence:

      p.pretty A girl walks into a bar and asks the bartender for a double entendre, so he gave it to her.
