extends layout

block heading
  h2 development environment
  hr

block content
  p Now that we have Homebrew installed, we can easily install lots of different programs.
  
  p Let's install the Elm language for us to use for development. Copy and paste this line into your Terminal:
  
  p.pretty brew install elm
