extends layout

block heading
  h2 development environment
  hr

block content
  p Not too bad, huh?
  
  p Now we can use Atom to write Elm programs.
  
  p Enter this line into the Terminal and press enter. We'll use this command a lot, so it's important to understand.
  
  p.pretty atom .
  
  p This line tells the computer to run a function called "atom" (which we added to the computer when we installed the Atom text editor) which accepts one argument: a location for a folder to open.
  
  p The '.' means to open the current folder that the terminal is looking at.
