extends layout

block heading
  h2 characters
  hr

block content

  p If we're talking about a single Character, we use single quotes.

  p.pretty 
    span 'a' means the letter a.
    br
    span 'b' means the letter b.
