doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Amatic+SC')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    #header
      .nav#home
        a(href='/') home
      .nav#learn
        a(href='/learn') learn
      .nav#blog
        a(href='/blog') blog
    .panel
      .panelHeader
        block heading
      .lesson
        block content
      .buttons
        p= previous
        p= next
        //- if previous == 'None'
        //-   a(href ='#') Back
        //- else
        //-   a(href= previous) Back
        //- if next == 'None'
        //-   a(href='#') Next
        //- else
        //-   a(href= next) Next

      // Todo: Add previous/next buttons
      // If previous or next === 'None', gray out
