extends layout

block content
  p I've always found it funny how the whole world is obsessed with wizards and magic but almost no one has any desire to try the magic that actually exists in the world.

  p I remember reading Harry Potter as a kid. I would think to myself, "if only we had magic in the real world - life would be so exciting! I'd do nothing but study magic and become the best wizard in the world."

  p Well, it turns out we do have magic. It's called programming, and it allows us to do things that would make Dumbledore jealous. We can create machines that clean our clothes or wake us up in the morning, and robots that drive around our living rooms and vacuum our floors.

  p Wizards in the movies dedicate years of their lives reading dusty old books that look like they're written in ancient, cryptic languages. And that's actually not a bad description for what it feels like trying to learn a programming language like Haskell.

  p The real magic is that anyone can be a programmer - there are no muggles. All it takes is time to learn the language. The problem with the way most people teach programming is that they start with rules and theory using languages that look like ancient Greek. It's easy to fall into the trap of thinking that learning the most popular languages is the right way to learn how to program. But that's actually a mistake. Most languages are popular not because they're the best option, but because of historical reasons and the difficulty companies have in switching languages once they've committed to one.
  
  p Languages, even programming languages, are for people, not computers. We can make the computer speak any language we want. So instead of starting with Javascript or Python, we are going to use a modern language that fixes a lot of the issues that make conventional languages difficult to learn and use. The language we'll be starting with is called Elm.
