extends layout

block content
  .title
    h1= title
  #text-editor-wrap
    #title-bar bash — 530x220
    #text-body $ 
      span#typed
  .learnButton
    a(href='/learn') Let's go
          
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/typed.js')
  script(src='/javascripts/typing.js')
