doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Amatic+SC|Lucida+Grande|Consolas')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    #header
      .nav#home
        a(href='/') home
      .nav#learn
        a(href='/lessons') learn
      .nav#blog
        a(href='/blog') blog
    block content
