extends layout

block content
  .lessons
    .panel
      ul.lessons
        .lessonRow
          a(href='/magic')
            .lessonButton
              span.material-icons code
            .lessonText Intro
        .lessonRow
          a(href='/lessons/programming-is-a-language/1')
            .lessonButton
              span.material-icons code
            .lessonText Basics
          a(href='/lessons/how-to-look-like-a-hacker/1')
            .lessonButton
              span.material-icons code
            .lessonText Setup
