extends layout

block content
  .lessons
    .panel
      ul.lessons
        .lessonRow
          a(href='/lessons/magic')
            .lessonButton
              span.material-icons code
            .lessonText Basics
