extends layout

block content
  .title
    h1= title

  .blog-content
    include components/panel.pug
      :markdown-it(plugins=['markdown-it-abbr'] linkify langPrefix='highlight-')
        # Heading 1

        ## Heading 2

        ![I'm an image](www.google.com)

        Markdown document with http://links.com and
        Test 
        Open up the Elm language's [online code editor](http://elm-lang.org/try).

        ~~~
        Elm
        ~~~
        *[Test]: This is a test
        *[Elm]: A language
