extends layout

block content
  .title
    h1= title

  .blog-content
    include components/panel.pug
      :markdown-it(linkify langPrefix='highlight-')
        # Heading 1

        ## Heading 2

        ![I'm an image](www.google.com)

        Markdown document with http://links.com and

        ```js
        var codeBlocks = 2;
        for (var i = 0; i < 100; i ++) { console.log (i) }
        ```

  script(src='/javascripts/jquery.js')
  script(src='/javascripts/typed.js')
  script(src='/javascripts/typing.js')
