doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Amatic+SC|Lucida+Grande|Consolas')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/atom-one-dark.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js')

    script(src='javascripts/highlight.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #header
      .nav#home
        a(href='/') home
      .nav#learn
        a(href='/lessons') learn
      .nav#blog
        a(href='/blog') blog
    block content
