extends ../layout

block heading
  h1 What is a language?
  hr

block content

  p Programming languages are the same as any spoken language. We have words, we have rules for how to order the words, and we have meanings for the words.

  p.pretty A girl walks into a bar and asks the bartender for a double entendre, so he gave it to her.

  p Some words are grouped together to create one meaning. The words "double" and "entendre" have individual meanings on their own, but when they're put together they mean something completely different. In this sentence, they just go together. The two words "A girl" go together too. Neither would really make sense in the sentence on their own.

  p Other words have meanings all by themselves. The word "walks" means a specific action. It doesn't really *go* with any other word.

  p We call each grouping of words that creates a meaning an **expression**. "A girl" and "double entendre" are both expressions - the words go together. "he" is an expression of just one word - it means something by itself.
