extends ../layout

block heading
  h1 What is a type?
  hr

block content

    p Every expression, or individual meaning, has one "type". A type is just a grouping that we decide an expression falls into.

    p There are lots of different types - we just talked about two of them in the last section. 'a' is a Character type, because it's a single letter.

    p List is a type that can hold another type. You can have a List of Characters (like 'h', 'e', 'l', 'l', and 'o'). A List of Characters  is also called a String.

    p.pretty "Hello! I'm a string!"

    p A String is literally just a bunch of Characters on a string. Like a pasta necklace.

    img(src='https://s-media-cache-ak0.pinimg.com/originals/70/ed/32/70ed3210b79341723e5b6685d7739cac.jpg')
