extends ../layout

block heading
  h2 types
  hr

block content
  p Some types, like List and Character, are built into the language. But types aren't special - we can make our own if we want.

  p Types are just a way of categorizing values so we know what to expect from them. For example, we can write a piece of code that works for one type, but not another. The computer allows us to multiply two numbers types, for example, but we can't multiply two Characters. What is 'a' * 'a'?

  p We always capitalize the names of types. This makes it easier to know when we're talking about the types themselves and when we're talking about the data that belongs to a certain type.
