extends ../layout

block heading
  h2 words
  hr

block content

  p In English, we have different kinds of words for different things. Adjectives are for describing, verbs are for doing. Programming has different kinds of words too. The most common kind is the function. A function is a word we use to ask the computer for something.

  p Imagine your oven can talk. You want some cookies, so you say it to, "Bake."

  p But your oven has a few questions for you before it knows what to do. It asks you, "Bake what? For how long? At what temperature?"

  p The oven can't do its job until all its questions are answered, but you don't have to answer all the questions at once. You can answer some, and the oven will remember what you told it. It's like saving your settings.

  p Maybe you always bake for 10 minutes at 350 degrees. So you change the settings on your oven to always bake at that temperature for that amount of time. Now we can bake different things without mentioning the temperature or time again. We might want to tell the oven to make cookies today, and cake tomorrow - it already knows how long and what temperature to bake at.

  p If you need to, you can always reset the settings and start over with a new "bake" request. But the oven will only *run* when it has all its questions answered - in this case, it has a temperature, time, and something raw to bake.

  p A function works the same way. We ask the computer to give us something, and we answer the questions we know it's going to ask to make what we want. We can say its name and answer its questions all at once, and it will run, or we can answer some of them now and keep the function around to run later.

  img(src='https://media.giphy.com/media/hpfInSxkkLdpS/giphy.gif')
