extends ../layout

block heading
  h2 expressions
  hr

block content

  p Languages let us combine expressions into sentences that create larger meanings. In programming, we call a sentence a **statement**.

  p Computers read top-down, left-to-right just like us. Imagine you are a 5 year old just learning how to read. You don't know a lot of words, but you know some words. You can use the words you already know to help you learn more words.
