extends ../layout

block heading
  h2 how to read
  hr

block content

  p You've just opened up a new book, and you read this sentence:

  p.pretty Not for the first time, an 
    span.red argument 
    span had broken out over 
    span.red breakfast 
    span at number four, Privet 
    span.red Drive.

  p You understand the first few words and know what's going on until you get to a word you haven't seen before: "argument".

  p You look it up in the dictionary, and you see the definition "an exchange of opposite views". Since an expression can be replaced by its definition, you substitute those words into the sentence to make it easier for you to understand:

  p.pretty Not for the first time, an 
    span.red exchange 
    span.blue of 
    span.red opposite 
    span.blue views 
    span had broken out over 
    span.red breakfast 
    span at number four, Privet 
    span.red Drive.

  p But you don't know what 'exchange' or 'opposite' mean, so you still can't understand the sentence.

  p You've got great discipline, so you decide to look up the definitions of each of those two words and substitute them into the sentence.
