extends ../layout

block content

  p.pretty Say your name out loud.

  p It's a simple sentence.

  p The two words "your" and "name" combine to make an expression that represents a specific name: 
    b yours.
