extends ../layout

block content
    p.pretty Say "your name" out loud.

    p This sentence means to literally say the words in quotations - there's no meaning behind them.

    p Programming uses the same idea. If we are writing code and want to talk about actual letters or words themselves, rather than the ideas they represent, we put the letters in quotations.
