extends ../layout

block heading
  h2 sentences
  hr

block content

  p If we're talking about words or even whole sentences, we use double quotes.

  p.pretty "Who's this Rorschach dude and why is he so good at drawing pictures of my mom beating me?"

  p The double quotes and all the words inside create a single expression called a String.
