extends ../layout

block heading
  h2 words
  hr

block content
  p Let's program something. First, we'll need to get our development environment set up. "Development environment" is a term for the ecosystem of programs you use to develop.

  p A development environment usually includes a program to run the language you want to develop in, a text editor to write the code, and maybe some plugins for your text editor to make programming easier.

  p Here's how to set up a development environment for Elm.

  ul
    li
      p Install the Elm language
    li Download a text editor to program in
      p There are many good text editors. We'll use Atom for a few reasons:
        ul
          li It's free \(most good text editors aren't)
          li It has a clean, modern interface
          li It has a huge community of free plugins to make developing easier
