extends ../layout

block heading
  h2 words
  hr

block content
  p Let's program something. First, we'll need to get our development environment set up. "Development environment" is a term for the ecosystem of programs you use to develop.

  p A development environment usually includes a program to run the language you want to develop in, a text editor to write the code, and maybe some plugins for your text editor to make programming easier.

  p Getting your development environment set up used to be hard, and if you start to read suggestions on blogs from a few years ago you may be tempted to just give up now. But it's not hard anymore.

  p To program with Elm, we will need a few things:

  ul
    li The Elm language itself, which takes what we write and *compiles*, or *translates*, our words down to commands that a computer knows how to perform.
    li A text editor to write programs in. There are many text editors, and if you have one you like you're welcome to use it. But in case you don't, we'll walk through installing an editor called Atom. Atom is good for a few reasons:
      ul
        li It's free (most good text editors aren't)
        li It has a clean, modern interface
        li It has a huge community of free plugins to save time and make developing easier
