extends ../layout

block heading
  h2 development environment
  hr

block content
  p Let's install Elm first. I'm sure you're used to installing programs by clicking big "Download" buttons and following along with the instructions step by step.

  p But there's actually an easier way. Most developers use a "package manager" to install programs. The package manager automatically installs programs for you and keeps them up to date.

  p On a Mac, the most popular package manager is a program called Homebrew. And we're going to install Homebrew the way programmers do - through the *terminal*.
