extends ../layout

block heading
  h2 development environment
  hr

block content
  p I'm sure you're used to installing programs by clicking big "Download" buttons and following along with the instructions step by step.

  p There's actually an easier way. Most developers use a "package manager" to install programs. The package manager automatically installs programs for you and keeps track of what you install to make sure the programs stay up to date.

  p On a Mac, the most popular package manager is called Homebrew. And we install Homebrew through the computer terminal, rather than downloading it from a website.

  p The terminal is basically a way to talk to your computer without having to click around in menus. It can seem intimidating at first, but you quickly get used to it. You can use the terminal to work with files on your computer or give your computer commands to run.

  p To open your terminal
    ul
      li Press Cmd + Space
      li type in "Terminal" and press enter
