extends ../layout

block heading
  h2 development environment
  hr

block content
  img(src='https://media.giphy.com/media/l46C6sdSa5DVSJnLG/giphy.gif')
  p In the beginning was the terminal.

  p Before Start menus and Finders, there was only one way to interact with a computer: a simple program called a terminal. Terminals are still around, and you can use them to do anything you're used to doing by clicking around on the screen. You can work with files on your computer, give your computer commands to run, or even download and install programs from the internet.

  p The terminal can look intimidating at first, because even modern terminal programs haven't changed much since the 60s.

  p So why learn how to use the an archaic program like a "terminal" when we have beautiful modern graphical user interfaces?

  p Well, the simple answer is that once you learn it, it makes doing common tasks much faster.

  p While the user experience of using a terminal leaves something to be desired, you quickly get used to it.

  p Let's get familiar with moving around the computer with the terminal.

  p First, open up the program.
    ul
      li Press Cmd + Space
      li type in "Terminal" and press enter
