extends ../layout

block heading
  h2 development environment
  hr

block content
  p When you open up the program, you're welcomed with a warm black screen. Now remember, terminals were created before the mouse, so if you try to click around you'll just become frustrated. Instead, keep your hands on your keyboard and become one with your computer.

  p We use the terminal by typing commands for the computer to perform.

  p The most common thing we'll do is move around between folders.
