extends ../layout

block heading
  h2 development environment
  hr

block content

  p The default terminal that comes with your computer is okay, but it's a little retro. You can upgrade it with packages that bring it into the 21st century. We'll use a terminal upgrade called "Oh My Zsh" - this adds features that make it easier to work in the Terminal. The benefits are difficult to explain without much of a programming background, so you'll just have to take my word for it for now.

  p Copy and paste this line into the terminal window and press Enter:

  p.pretty sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"

  p Don't be intimidated by this line - what it means isn't important, since you only ever need to enter it once.
