extends ../layout

block heading
  h2 development environment
  hr

block content

  p The default terminal that comes with your computer is okay, but it's a little retro. Fortunately, there are programs we can install to upgrade it a bit. We'll use a terminal upgrade called "Oh My Zsh" - this updates our terminal to include cutting-edge 1990s technology, like autocompletion.

  p Copy and paste this line into the terminal window and press Enter:

  p.pretty sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"

  p Don't be intimidated by this line - what it means isn't important, since you only ever need to enter it once.
