extends ../layout

block heading
  h2 development environment
  hr

block content
  p Now we can install Homebrew, the package manager for Macs. Once we have Homebrew installed we'll be able to install the Elm programming language and the Atom text editor.

  p Copy and paste this line into your terminal and press Enter.

  xcode-select –install

  p.pretty /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

  p Again, don't worry if you don't understand the line above - you don't need to. The point is it installs Homebrew. Developers just copy and paste these things from the internet too.
