extends layout

block heading
  h2 development environment
  hr

block content
  p Now let's install the Atom text editor.
  
  p Copy and paste this line into your Terminal:
  
  p.pretty brew cask install atom
