extends ../layout

block heading
  h2 development environment
  hr

block content
  p Now we have to get Atom set up with the plugins we want. Everyone has a different opinion on what plugins to use or not use, but until you develop your own style it probably makes sense just to take the advice of someone with some experience.

  ul
    li atom-beautify (automatically formats your code so you don't have to spend time indenting and fixing spacing)
    li language-elm (support for the Elm language)
    li elm-format (automatically format Elm code)
    li file-icons (makes it easier to work with files)
